@import 'reset.scss'
$accent: #29a08d

body
  font-family: 'Helvetica Neue', helvetica, sans-serif
  background: #e9e4d7 url("/images/jq_bg.png")
  text-shadow: 0 1px 1px #fff
  color: #373b43
  &::before
    position: absolute
    left: 0
    top: 0
    opacity: .3
    width: 100%
    height: 100px
    background-image: -moz-linear-gradient(100% 100% 90deg, #eae6d9, $accent)
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from($accent), to(#eae6d9))
    content: ""
    z-index: 1

#wrapper
  position: relative
  padding: 70px
  z-index: 2
  max-width: 1000px
  margin: 0 auto

a
  text-decoration: none
  color: $accent
  &:hover
    color: $accent - #333

code
  font-weight: bold
  background: #efece4
  padding: 1px 4px
  margin: 0 4px

pre 
  padding: 0 80px
  margin: 0 0 20px 0
  code
    display: block
    background: none

header
  h1
    font-size: 80px
    font-family: "chunk-1","chunk-2", 'Helvetica Neue', helvetica, sans-serif
    span
      color: $accent
  h2
    font-size: 40px
    font-family: "chunk-1","chunk-2", 'Helvetica Neue', helvetica, sans-serif
    margin: 0 0 20px 0
  p
    font-weight: bold
    margin: 0 0 40px 0

form
  width: 320px
  float: left
  position: relative
  margin: 0 20px 20px 0
  min-height: 140px
  + form
    margin-right: 0
  fieldset
    label
      display: block
      font-size: 18px
      font-weight: bold
    input[type="text"]
      padding: 8px
      width: 290px
      font-size: 14px
      font-weight: bold
      color: #373b43
  h2
    font-size: 18px
    font-weight: bold
  ul.spotlite-results
    padding: 20px 0 0 0
    li
      font-size: 11px
      font-weight: bold
      background: url("/images/remove.png") no-repeat 5px center #fff
      color: #373b43
      text-shadow: none
      border-radius: 5px
      float: left
      margin: 0 5px 5px 0
      padding: 4px 8px 4px 22px
      cursor: pointer
      &:hover
        background-color: #88d5c9

ul.spotlite-matches
  background: #fff
  color: #1d1f21
  li
    padding: 4px 6px
    text-shadow: none
    &.spotlite-selected
      background: #88d5c9
    b
      font-weight: bold

#readme
  clear: both
  font-weight: normal
  h1
    display: none
  h2
    font-size: 16px
    font-weight: bold
    margin: 0 0 20px 0
  h3
    font-size: 14px
    font-weight: bold
    margin: 0 0 20px 20px
  p
    font-size: 13px
    line-height: 20px
    margin: 0 0 20px 0
    padding: 0 40px
  ul
    padding: 0 40px 20px 40px
    font-size: 13px
    line-height: 20px
    ul
      padding: 0 20px
  p + ul
    padding-left: 60px
    padding-right: 60px
