@import 'reset.scss'

body
  font-family: 'Helvetica Neue', helvetica, sans-serif
  background: #1d1f21
  color: #ffd800

#wrapper
  padding: 100px

hgroup
  margin: 0 0 40px 0
  font-family: "chunk-1","chunk-2", 'Helvetica Neue', helvetica, sans-serif
  h1
    font-size: 80px
  h2
    font-size: 40px
    color: #3ad4e6
  form
    label
      font-size: 14px
    + form

form
  width: 320px
  float: left
  position: relative
  margin: 0 80px 0 0
  + form
    margin-right: 0
    color: #3ad4e6
    fieldset
      input[type="text"]
        background: #3ad4e6
    ul.matches
      li
        color: #3ad4e6
        &.spotlite-selected
          background: #3ad4e6
  fieldset
    label
      display: block
      font-size: 18px
    input[type="text"]
      border: none
      padding: 8px
      width: 290px
      font-size: 14px
      background: #ffd800
      font-weight: bold
      color: #1d1f21
  ul.matches
    position: absolute
    background: #2d3034
    li
      padding: 4px 6px
      &.spotlite-selected
        background: #ffd800
        color: #1d1f21
      b
        font-weight: bold
  h2
    font-size: 18px
    font-weight: bold
  ul.results
    padding: 20px 0 0 0
    li
      font-size: 11px
      font-weight: bold
      background: url("/images/remove.png") no-repeat 5px center #ffd800
      color: #1d1f21
      border-radius: 5px
      float: left
      margin: 0 5px 5px 0
      padding: 4px 8px 4px 22px
      cursor: pointer
      &:hover
        background-color: #ffe44d

p
  clear: both
  font-weight: bold
  margin: 0 0 40px 0
  a
    text-decoration: none
    color: #ffd800
    border-bottom: 1px dotted #ffd800
    &:hover
      color: #3ad4e6
      border-bottom: 1px dotted #3ad4e6