%html
  %head
    %title jquery-spotlite
    %script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js")
    %script(type="text/javascript" src="jquery-spotlite.js")
    %script(type="text/javascript" src="test/demo.js")
    %style(type="text/css")
      :sass
        body
          font-family: 'Helvetica Neue', helvetica, sans-serif
          padding: 50px
        .spotlite-selected
          background: #dddddd
  %body
    %h1 Barely a demo
    %form.spotlite#demo-1
      %label Type!
      %input(type="text")
      %h2 Matches
      %ul.matches
      %h2 Results
      %ul.results
