%html
  %head
    %title jquery-spotlite
    %script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js")
    %script(type="text/javascript" src="test/resources/qunit.js")
    %script(type="text/javascript" src="jquery-spotlite.js")
    %script(type="text/javascript" src="test/suite.js")
    %link(rel="stylesheet" href="test/resources/qunit.css" type="text/css")
  %body
    %h1#qunit-header
    %h2#qunit-banner
    %h3#qunit-userAgent
    %ol#qunit-tests
    #qunit-fixture
      #spotlite-test
        %label Spotlite Test Input
        %input(type="text")
        %ul#spotlite-test-matches
        %ul#spotlite-test-results