%html
  %head
    %title jquery-spotlite
    %script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js")
    %script(type="text/javascript" src="/javascript/jquery-spotlite.js")
    %script(type="text/javascript" src="/javascript/demo.js")
    %link(rel="stylesheet" href="/stylesheets/application.css")
  %body
    %h1 Barely a demo
    %form.spotlite#demo-1
      %label Type!
      %input(type="text")
      %h2 Matches
      %ul.matches
      %h2 Results
      %ul.results
