%html
  %head
    %title jQuery.spotlite
    %meta(type="description" content="Spotlite, a simple input autofill plugin for jQuery by Cameron Daigle")
    %link(rel="stylesheet" href="/stylesheets/application.css")
    %script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js")
    %script(type="text/javascript" src="/javascript/jquery-spotlite.js")
    %script(type="text/javascript" src="/javascript/demo.js")
    %script(type="text/javascript" src="http://use.typekit.com/zqb6xwu.js")
    :javascript
      try{Typekit.load();}catch(e){}
  %body
    #wrapper
      %hgroup
        %h1 jQuery.spotlite
        %h2 simple input autofill/search
      %p
        ©
        = Time.now.year
        %a(href="http://camerondaigle.com") Cameron Daigle
      %p
        For available options, check out the
        %a(href="https://github.com/camerond/jquery-spotlite") source
        or the
        %a(href="/test") test suite
      %form#demo-1
        %fieldset
          %label add to a list
          %input(type="text")
        %ul.matches
        %ul.results
      %form#demo-2
        %fieldset
          %label autofill
          %input(type="text")
        %ul.matches

    - if production?
      :javascript
        var _gaq = _gaq || [];
         _gaq.push(['_setAccount', 'UA-308731-13']);
         _gaq.push(['_trackPageview']);

         (function() {
           var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
           ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
           var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
         })();