%html
  %head
    %title jquery-spotlite
    %link(rel="stylesheet" href="/stylesheets/application.css")
    %script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js")
    %script(type="text/javascript" src="/javascript/jquery-spotlite.js")
    %script(type="text/javascript" src="/javascript/demo.js")
    %script(type="text/javascript" src="http://use.typekit.com/zqb6xwu.js")
    :javascript
      try{Typekit.load();}catch(e){}
  %body
    #wrapper
      %hgroup
        %h1 jQuery.spotlite
        %h2 simple input autofill/search
      %p
        For available options, check out the
        %a(href="https://github.com/camerond/jquery-spotlite") source
        or the
        %a(href="/test") test suite
      %form#demo-1
        %fieldset
          %label add to a list
          %input(type="text")
        %ul.matches
        %ul.results
      %form#demo-2
        %fieldset
          %label autofill
          %input(type="text")
        %ul.matches
