%html
  %head
    %title jquery-spotlite
    %link(rel="stylesheet" href="/stylesheets/application.css")
    %script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js")
    %script(type="text/javascript" src="/javascript/jquery-spotlite.js")
    %script(type="text/javascript" src="/javascript/demo.js")
  %body
    %hgroup
      %h1 Jquery-spotlite
      %h2
        %a(href="/test") Check out the the test suite
    %form.spotlite#demo-1
      %fieldset
        %label Add to a list
        %input(type="text")
      %ul.matches
      %ul.results
    %form.spotlite#demo-2
      %fieldset
        %label Autofill
        %input(type="text")
      %ul.matches
