%html
  %head
    %title jQuery.spotlite
    %meta(type="description" content="Spotlite, a simple input autofill plugin for jQuery by Cameron Daigle")
    %link(rel="stylesheet" href="/stylesheets/application.css")
    %link(rel='icon' type='image/png' href='/favicon.png')
    %script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js")
    %script(type="text/javascript" src="/javascript/jquery-spotlite.js")
    %script(type="text/javascript" src="/javascript/demo.js")
    %script(type="text/javascript" src="http://use.typekit.com/zqb6xwu.js")
    :javascript
      try{Typekit.load();}catch(e){}
  %body
    #wrapper
      %header
        %h1
          jQuery.
          %span<> spotlite
        %h2 simple input autofill/search
        %p
          by
          %a(href="http://camerondaigle.com") Cameron Daigle
      %form#demo-1
        %fieldset
          %label add to a list
          %input(type="text")
      %form#demo-2
        %fieldset
          %label autofill
          %input(type="text")
      %form#demo-3
        %fieldset
          %label convert a select tag
          %select
            %option(value="") select a name ...
            %option(value="1") Alfredo Elton Lindsey
            %option(value="2") Alonzo Bartlett
            %option(value="3") Amalia Oliver
            %option(value="4") Angie Hopkins
            %option(value="5") Antonio Valentin Vaughan
            %option(value="6") Arron Conrad Sweeney
            %option(value="7") Art Harmon
            %option(value="8") Barrett Larson
            %option(value="9") Bart Velazquez
            %option(value="10") Bernadine Goodman
            %option(value="11") Blanche Emily Burch
            %option(value="12") Bobbie Tate
            %option(value="13") Brianna Juliet Chavez
            %option(value="14") Bridgette Villarreal
      %article#readme~ markdown @readme

    - if production?
      :javascript
        var _gaq = _gaq || [];
         _gaq.push(['_setAccount', 'UA-308731-13']);
         _gaq.push(['_trackPageview']);

         (function() {
           var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
           ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
           var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
         })();