%html
  %head
    %title jquery-spotlite
    %script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js")
    %script(type="text/javascript" src="/javascript/qunit/qunit.js")
    %script(type="text/javascript" src="/javascript/jquery-spotlite.js")
    %script(type="text/javascript" src="/javascript/suite.js")
    %link(rel="stylesheet" href="/javascript/qunit/qunit.css" type="text/css")
  %body
    %h1#qunit-header
    %h2#qunit-banner
    %h3#qunit-userAgent
    %ol#qunit-tests
    #qunit-fixture
      #spotlite-test
        %label Spotlite Test Input
        %input(type="text")
    %label#outer
