body {
  font-family: 'Helvetica Neue', helvetica, sans-serif;
}

#demo {
  width: 500px;
  margin: 50px auto;
}

dl.autophil {
  position: relative;
}

dl.autophil dt {
  
}

dl.autophil dt label {
  
}

dl.autophil dd {
  margin: 0;
  padding: 0;
}

dl.autophil dd input[type='text'] {
  margin: 0;
  padding: 5px;
  border: 1px solid #666;
  width: 350px;
}

dl.autophil dd ul {
  margin: 20px 0;
}

dl.autophil dd ul.af_pool {
  list-style-type: none;
  display: none;
  position: absolute;
  margin: 0;
  padding: 10px;
  border: 1px solid #666;
}

dl.autophil dd ul.af_pool li {
  display: none;
  padding: 5px;
  cursor: pointer;
}

dl.autophil dd ul.af_pool li.active {
  background: #ddeeff;
}

dl.autophil dd ul.af_chosen li {
  cursor: pointer;
}